body {
	font-family: 'Poppins', sans-serif;
	padding-top: 70px; 
}

/*NAV*/
.nyc-nav {
	padding: 20px 40px;
	background: #C1C8E4;
	border: none;
	margin: 0;
	border-radius: 0;
}
.navbar-brand .nyc-nav__logo_I {
	width: 60px;
}
.navbar-brand .nyc-nav__logo_II {
	width: 400px;
}
.nyc-nav .nyc-nav__menu_right>li>a {
	color: #1a3c99;
	font-size: 1.2em;
	padding-top: 22px;
}

@media screen and (max-width: 500px) {
	body {
		background: #C1C8E4;
	}
	.nyc-nav {
		padding: 0;
	}
}

/*INDEX*/
/*hero*/
.nyc-hero {
	background-color: #C1C8E4;
}
.nyc-hero__img {
	width: 100%;
}
.nyc-hero__txt {
	border-top: solid #1a3c99;
	border-bottom: solid #1a3c99;
	background-color: #C1C8E4;
	text-align: center;
	color: white;
	padding: 50px 0;
	margin-top: 30px;
}
.nyc-hero__txt_h {
	color: #1a3c99
}
.nyc-hero__txt_p {
	font-size: 1.5em;
}
/*servicios*/
.nyc-hero__servicios {
	border-bottom: solid #1a3c99;
	background-color: #C1C8E4;
	text-align: center;
	color: white;
	padding: 50px 0;
	margin: auto;
}
.nyc-hero__servicios_btn_circle {
	width: 150px;
	height: 150px;
	background-color: #5AB9EA;
	border: solid 5px #1a3c99;
	border-radius: 200px;
	margin: auto;
}
.nyc-hero__servicios_btn_circle:hover {opacity: 0.6}

.nyc-hero__servicios_btn_icon {
	margin: auto;
	width: 70px;
	padding-top: 35px;
}
.nyc-hero__servicios_btn_txt {
	color: #1a3c99;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.nyc-hero__txt_h {
		font-size: 1.7em;
	}
	.nyc-hero__txt {
		border-width: 2px;
	}
	.nyc-hero__servicios_btn_circle {
		width: 120px;
		height: 120px;
		border-radius: 170px;
	}
	.nyc-hero__servicios_btn_icon {
		margin: auto;
		width: 50px;
		padding-top: 30px;
	}
	.nyc-hero__servicios_btn_txt {
		font-size: 1.2em;
	}
}
/*THUMBNAILS NOTICIAS*/
.nyc-thumbnails {
	background: #C1C8E4;
	padding: 30px 100px;
}
.nyc-thumbnails__head {
	color: #1a3c99;
	text-align: center;
	margin-bottom: 50px;
}
.nyc-thumbnails__col {
	padding: 0 100px 50px;
}
.nyc-thumbnails__col_h3 {
	color: #1a3c99;
}
.nyc-thumbnails__col_p {
	color: #FFF;
}
.nyc-thumbnails__col_btn {
	background: #5AB9EA;
}

@media screen and (max-width: 500px) {
	.nyc-thumbnails {
		padding: 30px 0;
	}
	.nyc-thumbnails__col_h3 {
		font-size: 1.5em;
	}
	.nyc-thumbnails__col_p {
		display: none;
	}
	.nyc-hero__txt_p {
		font-size: 1em;
	}
}

/*EXTRA (voluntariado y donaciones)*/
.nyc-extra {
	background: #8860d0;
}
.nyc-extra__container {
	background: #8860d0;
	padding: 50px 0;
}
.nyc-extra__msj_circle {
	width: 150px;
	height: 150px;
	background-color: #5AB9EA;
	border: solid 5px #84CEEB;
	border-radius: 200px;
	margin: auto;
}
.nyc-extra__msj_circle:hover {opacity: 0.6}

.nyc-extra__msj_icon {
	margin: auto;
	width: 70px;
	padding-top: 35px;
}
.nyc-extra__msj_txt {
	color: white;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.nyc-extra__msj_circle {
		width: 120px;
		height: 120px;
		border-radius: 170px;
	}
	.nyc-extra__msj_icon {
		margin: auto;
		width: 50px;
		padding-top: 30px;
	}
	.nyc-extra__msj_txt {
		font-size: 1.5em;
	}
}

/*FOOTER*/
.nyc-footer {
	background: #1a3c99;
}
.nyc-footer__container {
	background-color: #1a3c99;
	padding: 50px 0;
}
.nyc-footer__navbar {
	padding: 0;
}
.nyc-footer__txt {
	color: #FFF;
}
.nyc-footer__txt_form_h {
	margin-top: 0;
}
.nyc-footer__txt_contact {
	clear: both;
	padding-top: 20px;
}
.nyc-footer__rrss {
	width: 70%;
	padding-top: 20px;
}
.nyc-footer__rrss_icon:hover {opacity: 0.6}

@media screen and (max-width: 500px) {
	.nyc-footer__txt {
		margin-top: 40px; 
	}
	.nyc-footer__navbar {
		padding: 10px 15px;
	}
	.nyc-footer__navbar_control {
		width: 70%;
		border: none;
	}
	.nyc-footer__txt_contact {
		padding-top: 0;
	}
}
